<app-navbarcustom></app-navbarcustom>

<div class="nav-sikayet">
  <div class="container">
    <div class="row">
      <div class="col-auto mr-auto">
        <h4>Tüm Şikayetler</h4>
      </div>
      <div class="col-auto">
        <div *ngIf="calisan; else elseBlock">
        </div>
        <ng-template #elseBlock>
          <button type="button" class="btn btn-pill btn-dark" (click)="clickEnterComp()">Şikayet Yaz</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between position-mid">
  <div class="col-2">
    <div style="margin-top: 15px">
      <label>Bankalar</label>
      <select class="custom-select" multiple>
        <option value="1">A Bankası (214)</option>
        <option value="2">B Bankası (168)</option>
        <option value="3">C Bankası (183)</option>
      </select>
      <label>Kategori</label>
      <select class="custom-select" multiple>
        <option value="1">Müşteri hizmetleri (63)</option>
        <option value="2">Kredi Kartı (22)</option>
        <option value="3">Hesap (28)</option>
      </select>
      <label>Şikayet Tarihi</label>
      <select class="custom-select" multiple>
        <option value="1">2020 (43)</option>
        <option value="2">2019 (54)</option>
        <option value="3">2018 (30)</option>
      </select>
    </div>
  </div>
  <div class="col-10" style="height: 700px">
    <div style="overflow-y: scroll; height:100%; text-align: center">
      <div *ngFor="let sikayet of this.sikayetlerList">
        <button class="complaints-short" (click)="showDetailComp(sikayet.id)">
          <div class="container">
            <div class="row">
              <div class="col-auto mr-auto">
                <h6>{{sikayet.sikayetBasligi}}</h6>
              </div>
              <div class="col-auto">
                <h6>{{sikayet.bankaId}}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-auto mr-auto">
                <h6>{{sikayet.kullanici}}</h6>
              </div>
              <div class="col-auto">
                <h6>{{sikayet.sikayetTarihi | date:'dd/MM/yyyy HH:mm' : 'UTC'}}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-auto mr-auto">
                <label style="text-align: start">{{sikayet.sikayetIcerigi}}</label>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

<app-footercustom></app-footercustom>