<app-navbarcustom></app-navbarcustom>

<div class="nav-sikayet">
  <div class="container">
    <div class="row">
      <div class="col-auto mr-auto">
        <h4>Tüm Şikayetler</h4>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-pill btn-dark" (click)="clickEnterComp()">Şikayet Yaz</button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between position-mid body-fix">
  <div class="col-2">
    <div style="margin-top: 15px">
      <label>Bankalar</label>
      <select class="custom-select" multiple>
        <option value="1">A Bankası (214)</option>
        <option value="2">B Bankası (168)</option>
        <option value="3">C Bankası (183)</option>
      </select>
      <label>Kategori</label>
      <select class="custom-select" multiple>
        <option value="1">Müşteri hizmetleri (63)</option>
        <option value="2">Kredi Kartı (22)</option>
        <option value="3">Hesap (28)</option>
      </select>
      <label>Şikayet Tarihi</label>
      <select class="custom-select" multiple>
        <option value="1">2020 (43)</option>
        <option value="2">2019 (54)</option>
        <option value="3">2018 (30)</option>
      </select>
    </div>
  </div>
  <div class="col-10">
    <div style="text-align: center">
      <button class="complaints-short" *ngFor="let complaint of complaints" (click)="ShowDetailComp(complaint.id)">
        <div class="container">
          <div class="row">
            <div class="col-auto mr-auto">
              <h6>{{complaint.title}}</h6>
            </div>
            <div class="col-auto">
              <h6>{{complaint.bankName}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-auto mr-auto">
              <h6>{{complaint.customerName}}</h6>
            </div>
            <div class="col-auto">
              <h6>{{complaint.date | date:'fullDate'}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-auto mr-auto">
              <label style="text-align: start">{{complaint.compText}}</label>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>

<div class="footer">
  <app-footercustom></app-footercustom>
</div>
