<footer class="container footer-area col-12 ">
    <div class="row py-5">
        <div class="col-6 col-md">
        </div>
        <div class="col-6 col-md">
            <h5 class="footer-text">Hakkımızda</h5>
            <ul class="list-unstyled">
                <li><a class="footer-text" href="#">Blog</a></li>
                <li><a class="footer-text" href="#">Hakkımızda</a></li>
                <li><a class="footer-text" href="#">Kullanım Koşulları</a></li>
            </ul>
        </div>

        <div class="col-6 col-md">
            <h5 class="footer-text">Yardım</h5>
            <ul class="list-unstyled">
                <li><a class="footer-text" href="#">S.S.S</a></li>
                <li><a class="footer-text" href="#">İletişim</a></li>
            </ul>
        </div>

        <div class="col-6 col-md">
            <h5 class="footer-text">Menü</h5>
            <ul class="list-unstyled">
                <li><a class="footer-text" href="#">Şikayetler</a></li>
                <li><a class="footer-text" href="#">Firmalar</a></li>
            </ul>
        </div>

        <div class="col-6 col-md">
            <h5 class="footer-text">Diğer Linkler</h5>
            <ul class="list-unstyled">
                <li><a class="footer-text" href="#">Gizlilik Politikası</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
        </div>
    </div>
    <div class="row">
        <div class="footer-copyright text-center">
            <a class="footer-text" href="#">&copy; Copyright 2020</a>
        </div>
    </div>
</footer>

