
.footer-area {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #404040;
}

.footer-copyright{
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: white;
    text-align: center;
}

.footer-text{
    color: white;
}