<app-navbarcustom></app-navbarcustom>


<div class="d-flex justify-content-between position-mid body-fix">
  <div class="col-9">
    <!-- Sikayet Detaylı -->
    <div class="card border-info detail-card">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-auto mr-auto">
              <h6>{{sikayet.sikayetBasligi}}</h6>
            </div>
            <div class="col-auto">
              <h6>{{sikayet.bankaId.ad}}</h6>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-auto mr-auto">
              <h6>{{sikayet.kullanici}}</h6>
            </div>
            <div class="col-auto">
              <h6>{{sikayet.sikayetTarihi | date:'dd/MM/yyyy HH:mm' : 'UTC'}}</h6>
            </div>
          </div>

          <div class="row">
            <div class="col-auto mr-auto">
              <label style="text-align: start">{{sikayet.sikayetIcerigi}}</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-auto mr-auto">
              <h6>Kategori: {{sikayet.sikayetKategorisi}}</h6>
            </div>
            <div class="col-auto">
              <button class="btn button-comment" (click)="comment()">
                <h6>YORUM YAP</h6>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Sikayet Cevapları -->

    <div class="card border-info detail-card">
      <div class="card-body">
        <div class="container">
          <h6 class="card-title text-center">CEVAPLAR</h6>

          <div *ngIf="getCevapList().length > 0">
            <div *ngFor="let tarih of getCevapList()">
              <div *ngFor="let bankaCevap of allCalisanCevaplariList">
                <!--Banka cevaplari icin-->
                <div *ngIf="tarih === bankaCevap.cevapTarihi">
                  <div class="row">
                    <div class="col-auto mr-auto">
                      <h6>{{bankaCevap.bankaCalisanlariId}}</h6>
                    </div>
                    <div class="col-auto">
                      <h6>{{bankaCevap.cevapTarihi | date:'dd/MM/yyyy HH:mm' : 'UTC'}}</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-auto mr-auto">
                      <label style="text-align: start">{{bankaCevap.mesaj}}</label>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>

              <div *ngFor="let kullaniciCevap of allKullaniciCevaplariList">
                <!-- Kullanıcı cevaplari icin-->
                <div *ngIf="tarih === kullaniciCevap.cevapTarihi">
                  <div class="row">
                    <div class="col-auto mr-auto">
                      <h6>{{kullaniciCevap.kullanici}}</h6>
                    </div>
                    <div class="col-auto">
                      <h6>{{kullaniciCevap.cevapTarihi | date:'dd/MM/yyyy HH:mm' : 'UTC'}}</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-auto mr-auto">
                      <label style="text-align: start">{{kullaniciCevap.mesaj}}</label>
                    </div>
                  </div>
                  <hr>
                </div>


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Sikayet Bankası -->

  <div class="col-3">
    <div class="card border-info detail-card">
      <div class="card-body">
        <h5 class="card-title text-center">{{sikayet.bankaId.ad}} İstatistikleri</h5>

        <img src="/assets/img/bankIcon/totalComp.png" width="30" height="30">
        Toplam Şikayet Sayısı: {{sikayet.bankaId.mevcutSikayet}}
        <br>

        <img src="/assets/img/bankIcon/solvedComp.png" width="30" height="30">
        Çözülen Şikayet Sayısı: {{sikayet.bankaId.cozulenSikayet}}
        <br>

        <img src="/assets/img/bankIcon/happyRate.png" width="30" height="30">
        <div *ngIf="sikayet.bankaId.mevcutSikayet != 0 ; else elseBlock">
          Memnuniyet Oranı: %{{(sikayet.bankaId.cozulenSikayet) / (this.sikayet.bankaId.mevcutSikayet)}}
        </div>
        <br>

      </div>
    </div>
  </div>

</div>

<ng-template #elseBlock>
  Memnuniyet Oranı: %{{0}}
</ng-template>

<div class="footer">
  <app-footercustom></app-footercustom>
</div>
