<!--<app-header
  [navbarBrandRouterLink]="['/']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">

</app-header>-->


<nav class="navbar navbar-dark bg-primary">

  <!-- Just an image -->
  <a class="navbar-brand" href="#">
    <img src="/assets/img/brand/logo.svg" width="120" height="40" alt="" loading="lazy">
  </a>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <a class="nav-link text" href="#">Şikayetler</a>
      </div>
      <div class="col-6">
        <a class="nav-link text" href="#">Bankalar</a>
      </div>
    </div>
  </div>
  <ul class="nav navbar-nav d-md-down-none">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Banka veya şikayet ara..." aria-label="Search"
             style="width: 200px;">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Ara</button>
    </form>
  </ul>
</nav>
