<nav class="navbar" style="background-color: #C5E1EB">
  <div class="d-flex justify-content-around" style="width: 100%">
    <div class="p-3">
      <div class="d-flex justify-content-around" style="width: 100%">
        <div class="p-2">
          <a class="navbar-brand" href="#">
            <img src="/assets/img/brand/logo.svg" width="120" height="40" alt="" loading="lazy">
          </a>
        </div>
        <div class="p-2">
          <a class="nav-link text" href="#/sikayetler">Şikayetler</a>
        </div>
        <div class="p-2">
          <a class="nav-link text" href="#/bankalar">Bankalar</a>
        </div>
      </div>
    </div>
    <div class="p-3 ">
      <div class="d-flex">
        <div class="p-2 mr-auto flex-fill">
          <div class="nav navbar-nav d-md-down-none" style="margin-top: 15px">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Banka veya şikayet ara..."
                aria-label="Search" style="width: 200px;">
              <button class="btn btn-info  my-sm-0" type="submit">Ara</button>
            </form>
          </div>
        </div>
        <div *ngIf="kullanici; else elseBlock">
          <div class="p-2 flex-row-reverse flex-fill ">
            <div style="margin-top: 10px">
              <div class="btn-group" dropdown>
                <button dropdownToggle type="button" style="background-color: #C5E1EB;" class="btn dropdown-toggle">
                  <i class="fa fa-user" style="font-size:32px"></i><span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a class="dropdown-item fa fa-user" href="#"> Profilim</a></li>
                  <li role="menuitem"><a class="dropdown-item fa fa-archive" href="#"> Şikayetlerim</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item fa fa-sign-out" (click)="deleteCookie()"> Çıkış Yap</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <ng-template #elseBlock>
          <div class="p-2 flex-row-reverse flex-fill ">
            <div class="nav navbar-nav d-md-down-none" style="margin-top: 15px">
              <button class="btn btn-log-in" type="submit" style="float: right;" (click)="logIn()">Giriş Yap</button>
            </div>
          </div>
          <div class="p-2 flex-row-reverse flex-fill">
            <div class="nav navbar-nav d-md-down-none" style="margin-top: 15px">
              <button class="btn btn-sign-up" type="submit" style="float: right;" (click)="signUp()">Üye Ol</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>