<app-navbarcustom></app-navbarcustom>

<div *ngIf="musteri; else elseBlockMusteri" class="container center_div body-fix" style="width:50%">
  <form>
    <div class="form-group">
      <select class="form-control" (change)="filterBank($event.target.value)">
        <option>Şikayet edeceğiniz bankayı giriniz.</option>
        <option *ngFor="let bank of this.bankalarList" value="{{bank.id}}">{{bank.ad}}</option>
      </select>
    </div>

    <div class="form-group">
      <input class="form-control " placeholder="Şikayetinizi özetleyen başlık yazınız." [(ngModel)]="baslik"
             name="baslik">
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    </div>
    <div class="form-group">
      <input class="form-control " type="tel"
             placeholder="Banka sisteminde kayıtlı cep telefonunuzu 5xxxxxxxxx formatında giriniz. "
             pattern="[0-9]{10}"
             title="Telefon numarası 5xxxxxxxxx bu düzene uymalıdır." [(ngModel)]="telNo" name="telNo">
    </div>

    <div class="form-group">
            <textarea class="form-control " style="height:200px;" placeholder="Şikayetinizi detaylı bir şekilde yazınız." [(ngModel)]="detay" name="sikayetDetay"></textarea>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-4">
          <select class="form-control" (change)="filterKategori($event.target.value)">
            <option>Şikayet kategorisini seçiniz.</option>
            <option *ngFor="let kategori of this.kategorilerList" value="{{kategori.id}}">{{kategori.kategoriAdi}}</option>
          </select>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-square btn-primary" style="width: 100%" (click)="kategoriOner()">Kategori Öner</button>
        </div>
        <div class="col-5">
          <label>Önerilen kategori : <b *ngIf="deeplearning && deeplearning.departman">{{deeplearning.departman}}</b></label>
        </div>
      </div>
    </div>

    <div class="form-group text-right">
      <button class="btn btn-send" (click)="sendComp()">Gönder</button>
    </div>
    <div>
     {{errorMsg}}
    </div>
  </form>
</div>

<ng-template #elseBlockMusteri>
  <div class="container center_div body-fix" style="width:50%">
    Şikayet paylaşmak için giriş yapmalısınız. Eğer bir hesabınız yoksa ücretsiz üye olabilirsiniz.
  </div>
</ng-template>

<app-footercustom></app-footercustom>
