.center_div{
    margin: 0 auto;
    width:100% ;
    padding-top: 20px;
}

.btn-send{
    background-color: #333333;
    width: 100%;
    color: white;
}

.body-fix{
    padding-bottom: 175px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}